/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$text: #555;
$links: blue;
$hover: red;

$bg: #FFF;

/* Fonts */
$main: sans-serif;

/* Borders */
$border: 1px solid #000;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
$xs: 500px;