/*
*= BASE VARIABLES
*/

// Sizes
$width: 1000px;
$width-outer: $width + 30px;

// Colors
$text: #555;
$links: blue;
$hover: red;

// Fonts

// Borders

// Placeholders

%clearfix {
  &:after {
    content: '';
    display: table;
    width: 100%;
    height: 0.1px;
  }
}