/* Password Protected Posts */
.post-password-required {
	.entry-header .comments-link {
		margin: 1.5em 0 0;
	}
	input[type=password] {
		margin: 0.8125em 0;
	}	
}


/* =error404
----------------------------------------------- */
.error404 {
	#main #s {
		width: 75%;
	}
}
