/* See _mixins.scss for more on this method for handling HTML5 elements */
#{$all-text-inputs}, 
textarea {
	border: $border;
	padding: 4px 10px;
	-webkit-appearance: none;
}
#{$all-text-inputs-focus},
textarea:focus {
	color: $text;
}
input[type=submit] {
	-webkit-appearance: none;
}

/* Placeholders */
::placeholder {
	color: TEXTCOLOR;
}

/* Search form */
input#s {
}
input#searchsubmit {
}

