input[type=text],
input[type=password],
textarea {
	border: 1px solid TEXTCOLOR;
	font-size: 13px;
	height: 19px;
	line-height: 1.2em;
	padding: 4px 10px;
}
input[type=text]:focus,
textarea:focus {
	color: TEXTCOLOR;
}
textarea {
	padding-left: 3px;
	width: 98%;
}
input#s {
	background: #FFF;
	border: 1px solid TEXTCOLOR;
	font-size: 13px;
	height: 19px;
	line-height: 1.2em;
	padding: 4px 10px;
}
input#searchsubmit {
	display: inline-block;
	width: 33px;
	height: 21px;
	margin-left: 10px;
}
::placeholder {
	color: TEXTCOLOR;
}