.access {
	margin: 0;
	div {
		float: left;
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	ul {
		clear: left;
		padding-left: 0;
		margin: 0 !important;
		list-style: none;
		li {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				padding: 3px 0 3px 10px;
				margin: 2px 0;
				text-decoration: none;
				cursor: pointer;
				// uncomment if you want dividers
				// &:after {
				// 	content: '/';
				// 	color: $text;
				// }
				&:hover,
				&:focus {
					color: $hover;
				}
			}
			// &:last-of-type a:after {
			// 	content: none;
			// }
		}
		
		
	}
	
}