
/* Comment Form */
#respond {
  margin: 0 auto 1.5em;
  padding: 10px;
  position: relative;
  width: 580px;
  overflow: hidden;
}
#respond input[type="text"],
#respond textarea {
  background: #fff;
  position: relative;
  float: left;
  display: inline-block;
  padding: 2px 5px;
  border: none;
  border: 1px solid TEXTCOLOR;
}
#respond input[type="text"] {
  width: 255px;
}
#respond textarea {
  resize: vertical;
  width: 570px;
  min-height: 150px;
  border: 1px solid TEXTCOLOR;
}
#respond .comment-form-author,
#respond .comment-form-email,
#respond .comment-form-url,
#respond .comment-form-comment {
  position: relative;
  margin: 5px 0 0;
  
}
#respond input[type="text"]:focus,
#respond textarea:focus {
  text-indent: 0;
  z-index: 1;
}
#respond .comment-form-author label,
#respond .comment-form-email label,
#respond .comment-form-url label,
#respond .comment-form-comment label {
  color: TEXTCOLOR;
  display: inline-block;
  padding: 0px 10px 8px;
  position: relative;
  z-index: 1;
}
#respond .logged-in-as a {
  color: TEXTCOLOR;
}
#respond p {
  margin: 5px 0;
}
#respond .form-submit {
  float: left;
  margin: 0 0;
}
#respond input#submit {
  background: #eee;
  cursor: pointer;
  margin: 10px 0;
}
#respond input#submit:hover {
}
#respond #cancel-comment-reply-link {
  color: TEXTCOLOR;
  margin-left: 10px;
  text-decoration: none;
}
.commentlist #respond {
  margin: 1.5em 0 0;
  width: auto;
}
#cancel-comment-reply-link {
  color: TEXTCOLOR;
  display: block;
  position: absolute;
  right: 1.5em;
  text-decoration: none;
  top: 1.1em;
}
#respond p {
  font-size: 12px;
}
p.comment-form-comment {
  margin: 0;
}
.form-allowed-tags {
  display: none;
}
.comment-subscription-form {
  clear: both;
  display: block;
}
