.entry-title,
.entry-title a {
	clear: both;
	color: $links;
	line-height: 1em;
	padding-bottom: 0.5em;
}
.entry-meta {
	clear: both;
}
.entry-date {
	color: LINKCOLOR;
	font-size: 11px;
	padding-bottom: 2px;
}

/* Handle sticky posts */
.sticky {	
}