
.hentry {
	border-bottom: 1px solid #ebe9e8;
	margin: 0 0 45px;
	padding: 0 0 40px;
	position: relative;
}
.page .hentry,
.no-results {
	border-bottom: none;
}
.entry-title,
.entry-title a {
	clear: both;
	color: LINKHOVER;
	font-size: 30px;
	line-height: 1em;
	padding-bottom: .3em;
	padding-top: 0;
}
.entry-meta {
	clear: both;
}
.entry-date {
	color: LINKCOLOR;
	font-size: 11px;
	padding-bottom: 2px;
}
.single-author .entry-meta .by-author {
	display: none;
}
.entry-content,
.entry-summary {
	padding: 20px 0 0;
}
.entry-content table,
.comment-content table {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.5em;
	width: 100%;
}
.entry-content th,
.comment-content th {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	line-height: 2.6em;
}
.entry-content td,
.comment-content td {
	border-top: 1px solid #ddd;
	padding: 6px 10px 6px 0;
}
.entry-content #s {
	width: 75%;
}
.comment-content ul,
.comment-content ol {
	margin-bottom: 1.5em;
}
.comment-content ul ul,
.comment-content ol ol,
.comment-content ul ol,
.comment-content ol ul {
	margin-bottom: 0;
}
dl.gallery-item {
	margin: 0;
}
.page-link {
	clear: both;
	display: block;
	margin: 0 0 1.5em;
}
.page-link span {
	margin-right: 6px;
}
.entry-meta .edit-link a,
.commentlist .edit-link a {
	background: #eee;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: right;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: 300;
	text-decoration: none;
	padding: 0 8px;
}
.entry-content .edit-link {
	clear: both;
	display: block;
}


/* Images */
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full,
img.size-large {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}

.entry-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 1.5em;
}
p img,
.wp-caption {
	margin-top: 0.4em;
}
.wp-caption {
	max-width: 100%;
	height: auto;
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	color: LINKCOLOR;
	font-size: 10px;
}
.wp-caption .wp-caption-text {
	margin-bottom: 0.6em;
	padding: 5px 0;
	position: relative;
}
#content .gallery {
	margin: 0 auto 1.5em;
}
#content .gallery a img {
	border: none;
}
#content .gallery-columns-4 .gallery-item {
	width: 23%;
	padding-right: 2%;
}
#content .gallery-columns-4 .gallery-item img {
	width: 100%;
	height: auto;
}
img#wpstats {
	display: block;
	margin: 0 auto 1.5em;
}

/* Image borders */

.wp-caption img {
	border-color: #eee;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}