/* =Pager Navigation
-------------------------------------------------------------- */

#content nav {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.5em;
}
#nav-below {
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* Singular navigation */
#nav-single {
	float: right;
	position: relative;
	top: -0.3em;
	text-align: right;
	z-index: 1;
	.nav-previous,
	.nav-next {
		float: none;
		width: auto;
	}
	.nav-next {
		padding-left: .5em;
	}
}